<div id="main" >
    <div id="filters" >
        <ul> Категории
            <li>
                <input type="checkbox"> <span> Ноутбуки и компьютеры </span> 
            </li>
            <li>
                <input type="checkbox"><span> Смартфоны, ТВ и эликтроника </span> 
            </li>
            <li>
                <input type="checkbox"> <span> Бытовая техника</span>
            </li>
            <li>
                <input type="checkbox">
            </li>
           
        </ul>

    </div>
</div>
