    <nav>
        <div id="navMainBlock">
                <div id="container">
                    <div id="logo" >
                        <div>JBS</div>
                    </div> 
                
                    <div id="searchBlock" > 
                            <img  src="../assets/imgs/MagnifyingGlass.png" alt="Magnifying Glass">
                            <input type="text">
                    </div>
                
                     <div id="links">         
                        <div>Язык</div>
                        <div>Подать обьявление</div>
                        <div>Мой профиль</div>         
                    </div> 
                </div>
                
                  <!--      <a routerLink="/registration" routerLinkActive="active" >Зарегистрироваться</a> | 
                        <a routerLink="/authorization" routerLinkActive="active"  >Ввойти</a> | 
                    <a routerLink="/home" routerLinkActive="active" >Главная</a>  
                -->          
        </div>

    </nav>
<router-outlet></router-outlet>

